<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>748026433198-n8anfgc3omjuatdam8vsaic86oia9u9m.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.748026433198-n8anfgc3omjuatdam8vsaic86oia9u9m</string>
	<key>API_KEY</key>
	<string>AIzaSyBcNj8UIC9y8Nunxe0z5PSQi5H_nm-mR7k</string>
	<key>GCM_SENDER_ID</key>
	<string>748026433198</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>CalebsProjects.PokeWatch</string>
	<key>PROJECT_ID</key>
	<string>pokewatch-aee67</string>
	<key>STORAGE_BUCKET</key>
	<string>pokewatch-aee67.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:748026433198:ios:53aa70ea10c34af6b0e73f</string>
</dict>
</plist>